:root{
    --cor-cabeçario:#FC5F5F;
    --cor-fundo:#3E51B8;
    --cor-fonte:#7C2F2F;
}
.cabecario{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}
.imagem-cabecario{
    width: 10%;
    display: flex;
}