*{
    margin: 0;
    padding: 0;
}



:root{
    --cor-cabeçario:#FC5F5F;
    --cor-fundo:#3E51B8;
    --cor-fonte:#7C2F2F;
}
.cabecario{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecario{
    width: 10%;
    
}
.item-lista-cabecario{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px ;
}
.escola-imagem{
    width: 25%;

}
.escola{
    background-image: linear-gradient(#C63333, #505B9A);
    color: var(--cor-fontes);
    display: flex;
}